.cocktail-list {
  margin: 0 auto;
  width: 90%;
  max-width: 40rem;
}

.cocktail-amount {
  margin-top: 2rem;
  /* padding-bottom: 0.25rem;
  border-bottom: 1px solid #858585; */
}

.suggest-cocktail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.suggest-cocktail .title {
  font-size: 1.25rem;
}

.suggest-cocktail .desc {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
