.card {
  margin: 0 auto;
  width: 90%;
  max-width: 40rem;
  margin-top: 2rem;
}

.form {
  padding: 1rem;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.control input {
  display: block;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

/* .control textarea {
  resize: vertical;
  min-height: 3rem;
  max-height: 12.5rem;
} */

.actions {
  text-align: right;
}
