.form {
  padding: 1rem;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.control input {
  display: block;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.actions {
  text-align: right;
}
