.header {
  background-color: #dc4f57;
  width: 100%;
  height: 4rem;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
}

.logo {
  display: flex;
}

.logo img {
  cursor: pointer;
  height: 3rem;
  width: 15rem;
}

.header ul {
  display: flex;
}

.header li {
  color: white;
  margin-left: 1rem;
}

.header a:hover {
  color: #f2f2f2;
}

@media screen and (max-width: 999px) {
  .header {
    padding: 0 5%;
  }

  .logo {
    font-size: 1.1rem;
  }

  .header li {
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
}